body 
	{
		font: 1em 'comic sans ms', Arial, Helvetica, sans-serif;
		background-image: url(img/tar.png);
	}
a {color: #669;
	text-decoration: none;}

a:hover {text-decoration: underline;}

h2
	{margin:10px 10px 10px 10px;}

p.cont{margin:10px 10px 40px 10px;
		text-align: justify;
		}
#conteinerh {
		padding: 2%;
		width: 65%;
		margin: auto;
		position: relative;
		background-color: #F6C2FC;
		border-radius:20px 50px ;}

#conteiner {
		padding: 2%;
		width: 70%;
		margin: auto;
		position: relative;
		text-align: justify;
		border-radius:20px 50px ;}

#content {width: 65%;
		float: left;
		background-color:#FFE1FF;
		position: relative;
		text-align: justify;
		color: #681773;
		border-radius:20px 20px  20px 20px;
		margin-bottom: 5%;}

#sidebar {
		width: 32%;
		float: right;
		padding-left: 1%;
		color: white;
		background-color:#C7A9C0 ;
		border-radius:20px 20px  20px 20px;
		padding-top: 2.3%;
	}

#sidebar1 {
		width: 32%;
		float: right;
		margin-top: 1%;
		padding-left: 1%;
		color: white;
		background-color:#C7A9C0 ;
		border-radius:20px 20px  20px 20px;
		padding-top: 2.3%;
	}


#footer {
		clear: both;
		height: 100px;
		border: solid 3px #C7A9C0;
		border-radius:20px 50px ;
		margin-top: 20px;
		padding: 10px;
		background-color: #400C35}
	
img{max-width: 100%;}


#img2 { width:40%; 
		background-repeat:no-repeat;
		margin-left: 58%;}

#img3{ 
		width: 50%; 
		width: 50%;
		background-repeat:no-repeat;
		margin-top: 7%;
		margin-right: 25%;
		border: solid 3px white;
		float: right;
		margin-bottom: 7%;}


#img5{ 
		width: 80%; 
		width: 80%;
		background-repeat:no-repeat;
		margin-top: 2%;
		margin-right: 10%;
		float: right;
		margin-bottom: 7%;}


#autor{
		margin-top: 75%;
		text-align: center;
		color: white;
		text-decoration: none;
		text-decoration: bold;}

#txthead{
	    text-align: center; 
		 font-family:'Comic Sans MS';
		 float: left;
		 text-shadow: 2px -4px #CDC9C9;
		 font-size: 3.0em;
		 position: relative;
		 font-weight: bold;
		 position: absolute;
		 margin-left: 10%;
		 margin-top: 0.5%;
		 color:#993366;

		  }

#img1{ 
		width: 8.5%; 
		border-radius:10px 50px ;
		background-repeat:no-repeat;
		margin-top: 1%;
		margin-right: 5%;
		float: right;}



#menu {

		 font-family:'comic sans ms';
		 border-radius:8px;
		 font-size: 15px; 
         margin-top: 3%;
         margin-left: 3%;
         background-color: #37093D;
         margin-top: 50px;
		 color: white;
		 padding: 3px 3px 3px 3px;
		 border: solid 3px white;}

#tb{ 
		 border-color: red;
		 border-radius: 80px 90px 80px 90px;
		 padding-bottom: 10px;
     	 text-align: center;
     	 width: 80%;
     	 height: 30px;
     	 margin-left: 5%;}

#header {
		height: 150px;
		background-color: white;
		border-radius:10px 50px ;
	    border: solid 3px #681773;
		margin-bottom: 10px;}
img{	max-width: 100%;}

#tit   {font-size: 20px;
		color: white;
		text-shadow: 0 0 0.2em #F6C, 0 0 0.2em #F6F, 0 0 0.2em #F6E;
		background-color: #37093D;
		 box-shadow: black 0.2em 0.1em 0.1em;
		 border-radius: 5px 5px 5px 5px;

	    font-weight: bold}
#cbl{
		margin-top: 7%;
		font-size: 20.0em;
		color: #37093D;
		text-shadow: 0 0 0.2em #F6C, 0 0 0.2em #F6F, 0 0 0.2em #F6E}



#f{
		 color: #37093D;
		 background-color:#C7A9C0;
		 box-shadow: black 0.5em 0.5em 0.3em;
		 border-radius: 14px 15px 15px 15px;
		 width: 80%;
		 padding: 2%;
		 margin-left: 6%;
		 margin-top: 1%;

	}
#enviar:hover
	   	 {text-decoration: underline;}

 #enviar{
		 width: 15%;
		 height: 10%;
		 font-family: "comic sans ms";
	 	 font-size: 1.4em;
		 margin-left: 40%;
		 color: #37093D;
		 background-color:#C7A9C0;
		 box-shadow: black 0.5em 0.5em 0.3em;
		 border-radius: 14px 15px 15px 15px;
		 padding: 0.5%;
		 margin-top: 5%;}

#tl{	 margin-top: 2%;
		 font-size: 4.0em;
		 color: #37093D;
		 text-shadow: 0 0 0.2em #F6C, 0 0 0.2em #F6F, 0 0 0.2em #F6E;
		 text-align: center;		 }

#table1{
		padding: 0.5%; 
		position: relative;   
        width:75%;
        margin-left:1.8%;}


	
#table2{
		padding: 3%;
	  
		font-color:white;
	    margin-left: 25px;
	    margin-top: 5px;
	    width: 200px;
	    border-radius: 10px 10px 10px 10px;}
		        
#cbl{
		margin-top: 10px;
		font-size: 70px;
		color: #681773;
		 text-shadow: 0 0 0.2em #F6C, 0 0 0.2em #F6F, 0 0 0.2em #F6E;	}
#fer{
		text-align: left;
		color: #681773;
		font-size: 10px;
		border-radius: 10px 10px 10px 10px;}

.mes{	color: white;
		background-color: #400C35;
		border-radius: 10px 10px 10px 10px;
			}

.feriado{	background-color: #C7A9C0;

			color: #37093D;
			height:20px;
			width: 20px;
			border-radius: 5px 5px 5px 5px;}
.dia{			
		text-align: center;
		height:20px;
		width: 20px;
		color: #681773;
		font-weight: bold;}